.topics-container{
    margin: 2% 7%;
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
}

/* tablet and mobile responsive */
@media screen and (max-width:900px) {
    .topics-container{
        margin: 4% 7% 7% 5%;
        padding: 0%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
    }
}