.topic{
    background-color: #87ccee79;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #9fa1a3a8;
}
.topic img{
    margin-left: 2%;
    padding: 2%;
    width: 95%;
}

.topic-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.topic-info p{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.topic-info small{
    color: rgb(112, 112, 112);
    font-size: 18px;
}

.topic-button{
    width: 100%;
    background-color: #185ABC;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}

.topic-button:hover{
    background-color: #FFA53F;
}

.topic-button a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}


/* responsiveness for button and cart text  */
@media screen and (max-width:1350px) {
    .topic-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        padding: 1%;
    }

    .topic-info p{
        padding-left: 2%;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }

    .topic-info small{
        color: rgb(112, 112, 112);
        font-size: 14px;
    }
}