.chart-container{
    background-color: #F8F9FA;
    margin: 2% 15%;
    padding: 1% 10%;
    box-shadow: 5px 5px 5px #9fa1a3a8;
}

.chart-container h3{
    margin: 2% 20%;
    color: #2980B9;
}

/* tablet and mobile responsive */
@media screen and (max-width:900px) {
    .chart-container{
        background-color: #F8F9FA;
        margin: 5% 10%;
        padding: 4% 5%;
    }
}