.header-banner{
    background-color: #3D6B7A;
    margin: 2% 7%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-banner img{
    width: 60%;
    margin-left: 20%;
}

.banner-text{
    padding: 4%;
}

.banner-text h3{
    color: white;
}

.banner-text p{
    color: rgb(224, 224, 224);
}

.banner-text button{
    background-color: #66c2fa;
    margin-top: 20px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #054D7A;
    font-weight: 500;
}

.banner-text button a{
    text-decoration: none;
    color: #054D7A;
}

.banner-text button:hover{
    background-color: #FFA53F;
}
/* tablet responsive */
@media screen and (max-width:900px) {
    .header-banner{
        background-color: #3D6B7A;
        margin: 2% 7%;
        padding: 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-banner img{
        width: 80%;
        margin-left: 10%;
    }
    
    .banner-text{
        padding: 3%;
    }
}

/* mobile responsiveness  */
@media screen and (max-width:600px) {
    .header-banner{
        background-color: #3D6B7A;
        margin: 3% 7%;
        padding: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .header-banner img{
        width: 60%;
        margin-left: 20%;
    }
    
    .banner-text{
        padding: 2%;
    }
}